**/bin/
**/obj/
./vs
.vscode/
# Thêm các dòng cần ignore
echo ".vs/" >> .gitignore
echo "src/backend/packages/" >> .gitignore
echo "src/backend/setup_swagger_and_build.ps1" >> .gitignoresrc/backend/packages/
